<h1>Welcome to Rock, Paper, Scissors Game!</h1>
<p> Enter the two symbols played, into the address bar.</p>
<p>For example, if Player 1 plays Rock and Player 2 plays Scissors, enter:</p>
<p>'localhost:4567/rock/scissors'.</p>
